* {
    margin: 0px;
    padding: 0px;

}

.flex {
    display: flex;
}

body {
    background-image: url(../img/achtergrond5.webp);
    height: 100vh;
    width: 100%;

}

header {
    background-color: rgba(0, 0, 0, 0.5);
    height: 15vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

nav ul {
    flex-direction: row;
    font-family: 'Nico Moji';
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0);
    font-size: 45px;
    gap: 40px;
}

.introduction {
    color: #7d5ba6;
}

.home {
    color: #dddddd;
}

.about {
    color: #ACFCD9;
}

.contact {
    color: #55D6BE;
}

.work {
    color: #FC6471;
}

ul li a {
    display: block;
    background-color: none;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: darkgray;
    border-radius: 40px;
}

.intro1 {
    flex-direction: row;
    justify-content: center;
    gap: 130px;
    font-family: 'Nico Moji';
    font-size: 40px;
    color: #dddddd;
    padding-top: 30px;
}

p {
    padding-top: 100px;
}

.introdeel2 {
    flex-direction: row;
    padding-bottom: 45px;
    gap: 40px;
}

.homehoofdtekst {
    color: #7d5ba6;
    justify-content: center;
    font-family: 'Nico Moji';
    font-size: 40px;
    padding-top: 20px;
}

footer {
    background-color: rgba(0, 0, 0, 0.5);
    height: 20vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.footertekst {
    font-family: 'Nico Moji';
    font-size: 30px;
    color: #dddddd;
    flex-direction: column;
}

.footertekst1 {
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.footerinfo {
    flex-direction: row;
    justify-content: center;
}

.footerinfo2 {
    padding-left: 40px;
    padding-right: 40px;
}

